.calculation-section {
  display: flex;
  flex-direction: column;
  background-color: #fdf6e3;
  margin-top: 16px;
  padding: 16px 16px 16px 24px;
  border-radius: 16px;
  color: #002b36;
  font-size: 16px;

  &__input-container {
    display: flex;
    flex: 1 0 0%;
    flex-direction: row;
  }
  &__input {
    flex: 8 0 0%;
    font-size: 16px;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    border: 1px solid #839496;
    vertical-align: top;
  }
  &__calculate-button {
    flex: 2 0 0%;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #839496;
    background-color: #fdf6e3;
    transition: 0.2s;
    text-align: center;
  }
  &__calculate-button:hover {
    background: #268bd2;
    color: #fdf6e3;
  }
  &__nekosan {
    flex: 1 0 0%;
    margin: 8px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 8px;
  }
}
