@import "global";

.calculation-section {
  display: flex;
  flex-direction: column;
  background-color: $solarized-base3;
  margin-top: $space-medium;
  padding: $space-medium $space-medium $space-medium $space-large;
  border-radius: $space-medium;
  color: $solarized-base03;
  font-size: $space-medium;

  &__input-container {
    display: flex;
    flex: 1 0 0%;
    flex-direction: row;
  }
  &__input {
    flex: 8 0 0%;
    font-size: 16px;
    border-radius: $space-small;
    margin: $space-small;
    padding: $space-small;
    border: 1px solid $solarized-base0;
    vertical-align: top;
  }
  &__calculate-button {
    flex: 2 0 0%;
    display: inline-block;
    font-size: 16px;
    margin: $space-small;
    padding: $space-small;
    border-radius: $space-small;
    border: 1px solid $solarized-base0;
    background-color: $solarized-base3;
    transition: 0.2s;
    text-align: center;
  }
  &__calculate-button:hover {
    background: $solarized-blue;
    color: $solarized-base3;
  }
  &__nekosan {
    flex: 1 0 0%;
    margin: $space-small;
    padding: $space-small;
    background-color: white;
    border-radius: $space-small;
  }
}
