body {
  background-color: #ffffff;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 0;
  max-width: 1200px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    "Meiryo", "ＭＳ Ｐゴシック", "sans-serif";
}
