$solarized-base0: #839496;
$solarized-base3: #fdf6e3;
$solarized-base03: #002b36;
$solarized-blue: #268bd2;

$space-large: 24px;
$space-medium: 16px;
$space-small: 8px;

$font-size-medium: 16px;

$line-width-sharp: 1px;

$transition-time-short: 0.2s;

$width-pc-min: 1000px;

body {
  background-color: white;
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 0;
  max-width: 1200px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    "Meiryo", "ＭＳ Ｐゴシック", "sans-serif";
}
