@import "global";

.title-header {
  background-color: $solarized-base3;
  margin-top: $space-medium;
  padding: $space-medium;
  border-radius: $space-medium;

  &__main-text {
    color: $solarized-base03;
    margin: $space-medium;
  }
  &__sub-text_description {
    margin: $space-small;
    padding-left: $space-small;
    color: $solarized-base0;
  }
}
