.title-header {
  background-color: #fdf6e3;
  margin-top: 16px;
  padding: 16px;
  border-radius: 16px;

  &__main-text {
    color: #002b36;
    margin: 16px;
  }
  &__sub-text_description {
    margin: 8px;
    padding-left: 8px;
    color: #839496;
  }
}
