@import "global";

.title-header {
  background-color: $solarized-base3;
  margin-top: 16px;
  padding: 16px;
  border-radius: 16px;

  &__main-text {
    color: $solarized-base03;
    margin: 16px;
  }
  &__sub-text_description {
    margin: 8px;
    padding-left: 8px;
    color: $solarized-base0;
  }
}
